extends index.pug

block content
  p
    |Lorem ipsum dolor sit amet, aliquam pharetra sit fusce, ultrices ut sed, inceptos eu, sed mi facilisi tincidunt, nulla placerat sollicitudin sit duis. Ligula at eleifend vestibulum pellentesque sed, augue pede enim a nec sit, montes amet velit id risus suspendisse, et arcu praesent, proin id. Cursus et placerat in vel ac ultrices. Consequat augue nonummy, mauris rutrum viverra vel.
  p
    |A phasellus wisi tincidunt, in elit cillum, ultrices nulla aenean bibendum, orci quis sed, accumsan diam et eu vivamus id. Lorem tellus lacinia, id commodo voluptatem, sed parturient, adipiscing pellentesque ultricies sed convallis eleifend. Molestie donec nisl ut vel nam, aliquam lorem lectus ridiculus ipsum mollis etiam, commodo amet nullam lectus est, at nostra tortor wisi tellus lorem, torquent et bibendum sit porta pulvinar hendrerit.
